PORT = 8080
NODE_ENV = production
DB = mongodb+srv://hyper-light-scripter:my-secret@cluster.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
SECRET = parolka_123
TOKEN_EXPIRE_HOURS = 24
API = https://hyper-light-scripter.herokuapp.com